{{!-- <div class="p-3"> --}}
<div class="container">
<h3>All Experiences</h3>

    {{!-- Displays Experiences data from the database --}}
    <div class="row justify-content-around"> 
        {{#each Experiences}}
        <div class="col-md-4 d-flex flex-column mb-5 border p-5 mb-5">
            <div class="row">
                <div class="col">
                    <img class="experienceImage" src='upload/{{this.image}}' width="200" height:auto>
                    <hr>
                    <h5> Experience Title </h5>
                    <p>{{this.experienceTitle}}</p>
                    <hr>
                    <h5> Description </h5>
                    <p>{{this.description}}</p>
                    <hr>
                    <h5> Location </h5>
                    <p>{{this.location}}</p>
                    <hr>
                    <h5> Additional Information </h5>
                    <p>{{this.note}}</p>
                    <hr>
                    <h5> Overall Rating </h5>
                    <p>{{this.ratingValue}}</p>
                </div>
            </div>
        </div>
        {{/each}}
     </div>
</div>