<!DOCTYPE html>
<html lang="en">
<head>
    {{> searchNavbar}}
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/landing.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    .expimage {
      margin-right: 25px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        /*padding: 15px;*/
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    {{> nav}}
    <div class="col-sm-9">
        {{#each Experiences}}
        <div class="mt-5 d-flex justify-content-end align-items-center vstack gap-3">
            <div id="search-exp" class="search-exp">
                <div class="col-lg-8 d-flex justify-content-between m-2">
                    <div class="col-lg-6  expimage">
                        <img class="experienceImage" src='../upload/{{this.image}}' width="200" height:auto>
                    </div>
                    <div class="col p-3 experienceDetails expdetails">
                        <p>Experience Title: {{this.experienceTitle}}</p>
                        <p>Overall Rating: {{this.ratingValue}}</p>
                        <form action="/searchExperience" class="addRating" method="POST" encType="multipart/form-data">
                            <div class="row">
                                <div class="col">
                                    <label for="ratingValue">Rate Experience:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="ratingValue" name="addRatingValue">
                                    <input type="hidden" name="experienceID" value={{this.experienceID}} id="experienceID">
                                </div>
                            </div>
                            <button type="submit" id="submit" class="btn btn-success">Submit</button>
                            <!-- Button to open the modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Open Details</button>
                     
                            <!-- Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                     
                                        <!-- Modal header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Experience Details</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                     
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>Experience Title: {{this.experienceTitle}}</p>
                                            <p>Location: {{this.location}}</p>
                                            <p>Keywords: {{this.note}}</p>
                                            <p>Overall Rating: {{this.ratingValue}}</p>
                                            <p>Description: {{this.description}}</p>
                                        </div>
                     
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
  </div>
</div>

</body>
</html>