<!DOCTYPE html>
<html>
    <head>
        {{> searchNavbar}}
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/landing.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
    </head>
    <body>
        <div class="d-flex justify-content-evenly h-35">
            {{> nav}}
            {{#each Experiences}}
            <div class="mt-5 d-flex align-items-center justify-content-between vstack gap-3">
            <div id="search-exp" class="search-exp">
                <div class="row m-2">
                    <div class="col-lg-6">
                        <img class="experienceImage" src='upload/{{this.image}}' width="200" height:auto>
                    </div>
                    <div class="col-lg-6 p-3 experienceDetails">
                        <p>Experience Title: {{this.experienceTitle}}</p>
                        <p>Description: {{this.description}}</p>
                        <p>Location: {{this.location}}</p>
                        <p>Keywords: {{this.note}}</p>
                        <p>Overall Rating {{this.ratingValue}}</p>
                        <form action="/searchExperience" method="POST" encType="multipart/form-data">
                            <div class="row mb-3">
                                <label for="ratingValue" class="col-lg-6 col-form-label">Rate This Experience</label>
                                <div class="col-lg-6 col-sm-offset-8">
                                    <input type="text" class="form-control" id="ratingValue" name="addRatingValue">
                                    <input type="hidden" name="experienceID" value={{this.experienceID}} id="experienceID">
                                </div>
                            </div>
                            <button type="submit" id="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
    
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <p class="col-md-7 mx-auto experienceDetails p-5 m-3">{{this.description}}</p>
        </div>
        {{/each}}
        </div>
        <script>
            //trips
            const navigationIndexBtn = document.querySelector(".index-button");
            //add
            const navigationAddBtn = document.querySelector(".navigationAdd-button");
            //search
            const navigationSearchBtn = document.querySelector(".navigationSearch-button");
            const searchexp = document.getElementById("search-exp");
            // saved
            const navigationSavedBtn = document.querySelector(".navigationSaved-button");
            //reset
            const navigationResetBtn = document.querySelector(".navigationReset-button");
            const resetForm = document.getElementById("reset-form");
            //trips
            navigationIndexBtn.addEventListener("click", function() {
              resetForm.style.display = "none";
            });
            //add
            navigationAddBtn.addEventListener("click", function() {
              resetForm.style.display = "none";
            });
            //search
            navigationSearchBtn.addEventListener("click", function() {
              resetForm.style.display = "block";
            });
            //saved
            navigationSavedBtn.addEventListener("click", function() {
              resetForm.style.display = "none";
            });
            //reset
            navigationResetBtn.addEventListener("click", function() {
              resetForm.style.display = "block";
            });
          </script>
        <div class="container mt-5">
            {{body}}
        </div>
    </body>
</html>